.App {
  text-align: center;
}
.header-wrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 70%;
  margin-left: 15%;
}
.product-wrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.inline{
  display: inline-block;
  margin-bottom: 20px;
}
.product-type{
  margin-top: 10px;
}
.menu-button{
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 20px;
}
.count-block{
  margin-top: 30px;
  width: 60%;
  margin-left: 20%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 0.5px solid black;
  padding: 10px;
  border-radius: 10px;
}
.menu-button:hover{
  background-color: lightblue;
  border-radius: 5px;
}
.total{
  margin-top: 3em;
}
.total h3{
  font-weight: 900;
}